.main-container {
    height: 100%;
    width: 100%;
    background: black;
}

.color-picker-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    background: white;
}